.app-wrap {
  display: flex;
  max-height: 100vh;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  flex-direction: column;
}

#topnav {
  height: 4vh;
  top: 0;
  width: 100vw;
  min-height: 40px;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.2);
  z-index: 200;
}

#sitebody {
  display: flex;
  height: 100%;
  width: 100%;
}

#app-content-wrap {
  display: flex;
  height: 100%;
  max-height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav.closed {
  background-color: black;
  display: none;
  z-index: 0;
}

.sidenav.open {
  background-color: #f9c7bb;
  width: 300px;
  max-height: 100%;
  height: 96vh;
  position: absolute;
  /* position: relative; */
  z-index: 150;
  box-shadow: 4px 0 5px -2px rgba(0, 0, 0, 0.1);
}

#open-close {
  display: none;
}

@media (max-width: 731px) {
  #open-close {
    /* top: 0; */
    display: block;
    position: fixed;
    z-index: 999;
    color: white;
    font-size: 25px;
    margin-left: 2%;
    margin-top: 2%;
    cursor: pointer;
  }

  .sidenav.open {
    width: 100vw;
    height: 100%;
    position: fixed;
    z-index: 500;
    bottom: 0;
    max-width: 100vw;
  }
}
