.forms {
  background-color: #fefde9;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 60%;
  min-width: 50%;
}

.hide-url {
  display: none;
}

#authtitle {
  text-align: center;
  margin-bottom: 10px;
  color: #0e0e0e;
}

.form-names {
  width: 150px;
}

.form-input {
  display: flex;
  justify-content: center;
  padding: 3%;
  align-items: center;
}

.info-input {
  border: none;
  border-bottom: 1px solid #f9c7bb;
  height: 40px;
  width: 200px;
}
#chooser-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
}

.image-pick {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ff7290;
  margin-top: 15px;
}
.pick-avatar {
  width: 80px;
  height: auto;
  cursor: pointer;
  border-radius: 50%;
  background-color: #eaeacf;
  margin-left: 10px;
  margin-right: 10px;
}

.pick-avatar.selected {
  width: 80px;
  height: auto;
  cursor: pointer;
  background-color: #ff511e;
}

#image-picker-box {
  overflow-x: auto;
  max-width: 300px;
  display: flex;
  height: 30%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::placeholder {
  color: #ef889e;
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
}

#button-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
}

.form-button {
  border: none;
  background-color: #ff7290;
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  font-family: 'Open Sans', sans-serif;
  border-radius: 20px;
  cursor: pointer;
  width: 140px;
}

.form-button:hover {
  background-color: #d63f5f;
}

.forms a {
  color: #ff7290;
}

#login-or-signup {
  font-size: 14px;
}

.form-icon {
  color: #ff7290;
  margin-right: 10px;
  margin-left: 10px;
}

#auth-link-container {
  height: 10%;
  margin-top: 3%;
}
