* {
  margin: 0px;
}
html,
body {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

/* footer {
  text-align: center;
  background-color: #c4f1f1;
  font-family: 'IBM Plex Serif', serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 4px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
} */
