
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");

* {
  margin: 0px;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fefde9;

}

a {
  text-decoration: none;
}

input, textarea{
  font-family: 'Roboto', sans-serif;
}
