* {
  margin: 0px;
  font-family: LFT Etica Mono;
}

html,
body {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #a8d0e6;
}

a {
  text-decoration: none;
}
