.userhome-wrapper {
  background-color: #fefde9;
  width: 100%;
  height: 100%;
  font-family: basic-sans, sans-serif;
  color: #545871;
  font-weight: 400;
}

#home-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

#show-weather {
  right: 3%;
  position: relative;
}

#user-greet {
  position: relative;
  left: 6%;
}

.search-container {
  /* float: right; */
  margin-right: auto;
}
input {
  outline: none;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
  height: 20px;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}
input[type="search"] {
  background: url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png)
    no-repeat 9px center;
  border: none;
  padding: 9px 10px 9px 32px;
  width: 55px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
input[type="search"]:focus {
  width: 180px;
  background-color: #fff;
  border-color: pink;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}
