@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

.bottomnav-wrapper{
  background-color: #24315e;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  bottom: 0;
  position: fixed;
  height: 7vh;
  font-family: "Poppins", sans-serif;
}

.bottomnav-wrapper a{
  color: white;
  font-size: 12px;
}
/* hide on smaller screens  */
@media (min-width: 1024px) {
  .bottomnav-wrapper{
      display:none;
  }
}

#each-bottom-nav-link{
  display:flex;
  align-items: center;
  justify-content: center;
}

.bottom-icon{
  text-align: center;
  font-size: 22px;
}
