@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

a {
  text-decoration: none;
}

.sidenav-wrapper {
  background-color: #374785;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 100vh;
  max-height: 100vh;
}

/* hide on mobile */
@media (max-width: 767px) {
  .sidenav-wrapper {
    display: none;
  }
}

#userprof {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: white;
  width: 100%;
  max-height: 30%;
  color: white;
  position:relative;
  top: 80px;
}


#usericon {
  border-radius: 50%;
  width: 70px;
  height: auto;
  position: relative;
  bottom: 10px;
}

/* Home button */
#homebutton {
  background-color: #f66d6d;
  color: white;
  font-family: "Poppins", sans-serif;
  border-style: none;
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  letter-spacing: 1px;
}

#homebutton-wrap {
  width: 160px;
  height: 45px;
  max-width: 80%;
  position: relative;
  top: 30px;
}

/* dashboard links */
#nav-links {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  position: relative;
  bottom: 150px;
}

#nav-links a {
  color: #a8d0e7;
  font-size: 18px;
}

#each-nav-link{
width: 100%;
margin-bottom: 5px;
}

.icon {
  font-size: 28px;
  color: #a8d0e7;
  display: inline-block;
  margin-right: 25px;
}

/* bottom links */
#nav-account-links {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  color: white;
  letter-spacing: 1px;
  position: relative;
  bottom: 40px;
}

#nav-account-links a {
  color: white;
  margin-bottom: 30px;
}

#link-acc-wrap{
  display: flex;
  align-items: baseline;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
}
