@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

a {
  text-decoration: none;
}

.sidenav-wrapper {
  background-color: #374785;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

#userprof {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: white;
  width: 100%;
  max-height: 30%;
  color: white;
}

/* hide on mobile */
@media (max-height: 600px) {
  #userprof{
    display: none;
  }
}


#usericon {
  border-radius: 50%;
  width: 70px;
  height: auto;
  position: relative;
  bottom: 10px;
}

/* Home button */
#homebutton {
  background-color: #f66d6d;
  color: white;
  font-family: "Poppins", sans-serif;
  border-style: none;
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  letter-spacing: 1px;
}

#homebutton-wrap {
  width: 160px;
  height: 45px;
  max-width: 80%;
  position: relative;
  top: 20px;
}

/* dashboard links */
#nav-links {
  font-family: "Poppins", sans-serif;
  display:flex;
  flex-direction: column;
  height: 30%;
  justify-content: space-evenly;
}

#nav-links a {
  color: #a8d0e7;
  font-size: 18px;
}

#each-nav-link{
width: 100%;
display: inline-block;
}

.icon {
  font-size: 28px;
  color: #a8d0e7;
  display: inline-block;
  margin-right: 25px;
}

/* bottom links */
#nav-account-links {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  color: white;
  letter-spacing: 1px;
  height: 20%;
  justify-content: space-evenly;
}

#nav-account-links a {
  color: white;
}

#link-acc-wrap{
  display: flex;
  align-items: baseline;
  flex-direction: column;
  height: 60%;
  max-height: 60%;
  justify-content: space-between;
}
