.topnav-wrapper {
  background-color: #f9c7bb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 100vw;
  top: 0;
  min-height: 40px;
}

#left-nav-links {
  display: flex;
  width: 40%;
  max-width: 250px;
  justify-content: space-between;
  height: 100%;
}

#right-nav-links {
  display: flex;
  width: 15%;
  max-width: 80px;
  justify-content: space-between;
  margin-right: 10px;
}

#each-top-nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#each-top-nav-link-open {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2afa6;
  height: 100%;
  width: 45px;
  font-size: 20px;
  color: #fefde9;
  cursor: pointer;
}

.top-nav-icon{
  text-align: center;
  font-size: 20px;
  color: #fefde9;
  cursor: pointer;
}


.top-nav-icon.cal {
  position: absolute;
  font-size: 23px;
}


.top-nav-date{
  position: absolute;
  z-index:200;
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin-left: 3px;
  margin-top: 5px;
  font-weight: bold;
}

.top-nav-date.two {
  margin-left: 5px;
}
