@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.sidenav-wrapper{
  background-color: #374785;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
  min-width: 250px;
  color: #A8D0E6;
  font-family: 'Raleway', sans-serif;
  max-height: 100vh;
}

/* #logo{
}
 */

.sidenav-wrapper a{
  color: white;
  text-decoration: none;
  /* width: 100%; */
}
/* }#myTools a:hover{
  background-color: #A8D0E6;
} */

.account-box{
  display: flex;
  background-color: #F76c6c;
  height: 10%;
  padding: 2%;
  width: 80%;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}


.accountlinks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accountlinks a{
  color: black;
}

#myTools{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 50%;
  min-height: 20%;
  width: 100%;
  text-align: center;
}

#myTools a{
  padding: 5%;
}
