.create-group-wrapper {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  margin-top: 100px;
}

.create-group-header {
  text-align: center;
  max-width: 75%;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  color: #f2afa6;
  text-transform: uppercase;
  font-size: 14px;
}

.pick-color {
  width: 50px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

#color-picker {
  overflow-x: auto;
  display: flex;
}

#add-group-form-create-group {
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  color: #f2afa6;
  font-size: 14px;
}

.add-button {
  text-align: center;
  align-items: center;
}

.create-group-form-button {
  background-color: #ff7290;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  border-radius: 10px;
  min-height: 40px;
  max-height: 50px;
  width: 25%;
  max-width: 150px;
  margin-top: 20px;
}

.modal-input {
  font-family: "Poppins", sans-serif;
  width: 100%;
}
