.group-wrapper {
  height: 85%;
  width: 80%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: black;
}

#group-box {
  display: flex;
  text-align: center;
  align-items: center;
  height: 60%;
}

.group-wrapper a {
  text-decoration: none;
  color: black;
}

.create-group {
  align-items: center;
  padding-bottom: 30px;
  font-size: 15px;
}

.tool-title {
  padding-bottom: 30px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 25px;
}

#grp-img-wrap{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-image {
  width: 50px;
  height: auto;
}

.singlegroup {
  text-align: center;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.deletegroup {
  border: none;
  width: max-content;
  cursor: pointer;
  font-size: 18px;
  color: #f2afa6;
  background-color: transparent;
}
