.user-avatar {
  border-radius: 50%;
  width: 80px;
  height: auto;
  margin-top: 10px;
}

#group-info {
  height: 100%;
  width: 100vw;
}

.single-grp-body {
  background-color: white;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  justify-content: center;
}

.ui.comments{
  width: 1000px !important;
  max-width: 1200px !important;
}

.single-grp-sidebar {
  background-color:#fefde9;
  ;
  height: 100%;
  width: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
}

.single-grp-user-wrap {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  margin-top: 10px;
}

#add-grp-form {
  margin-bottom: 10px;
}

#group-info ::placeholder {
  color: black;
  font-size: 14px;
  text-align: center;
}

#grp-icon {
  width: 90px;
  height: auto;
  border-radius: 50%;
  border: 3px solid #fefde9;
  margin-bottom: 10px;
}

#single-grp-name {
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

#single-grp-desc {
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

#single-grp-header {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#single-grp-links{
  display: flex;
  width: 100%;
  align-items: center;
}

#groupmsg{
  width: 100%;
  display: flex;
  justify-content: center;
}

#grp-link-button{
  width: 150px;
  height: 40px;
  border: none;
  margin: 5px;
  background-color: pink;
  color: white;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.single-group-body-main{
  width: 88%;
}

.ui.dividing.header{
  margin-top: 30px !important;
}

.ui.primary.buttons .button, .ui.primary.button{
  background-color: pink !important;
}
